<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <h3>New Post </h3>

    <form action="/posts" method="post">
        <input type="text" placeholder="Enter Username" name="username"> <br> <br>
        <textarea name="content" placeholder="Enter Something"></textarea> <br>
        <button>Submit</button>
    </form>
</body>
</html>