<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Details</h2>

    <div class="posts">
        <h6>ID : <%= post.id %></h6>
        <h4>Username : <%= post.username %></h4>
        <h5>Content : <%= post.content %></h5>
    </div>
</body>
</html>